
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 230px;

  padding: 20px 15px;

  display: flex;
  flex-direction: column;
  overflow-y: auto;      
}

.sidebar-logo {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 25px;
}

.sidebar-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}

.sidebar-icon {
  font-size: 16px;
}

.sidebar-text {
  font-weight: 500;
}





.sidebar-fixed {
  position: fixed;
  left: 0;
  top: 0;
}

.sidebar-container {
  position: fixed;
  top: 0;
  height: 100%;
  transition: left 0.3s ease;
  z-index: 1000;
}

.sidebar-container.open {
  left: 0;
}

.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}


/* .content.with-sidebar {
  padding: 200px;
} */

/* .content {
  padding: 20px;
} */